@charset "utf-8";

body {
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

input {
  outline: none;
  width: 100px;
  display: inline-block;
  color: black;
  border-radius: 20px;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  display: inline-block;
  width: 100px;
  height: 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  transition: all .3s;
}

button:hover {
  background-color: gray;
  color: black;
}

.main {
  text-align: center;
}

.header {
  border-bottom: 1px solid black;
  padding: 0 0 24px;
  width: 640px;
  margin: 64px auto;
}

.list {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

li {
  margin-top: 16px;
  border: 2px dotted black;
}

li > span {
  margin-right: 8px;
  font-size: 24px;
  font-weight: bold;
}

span + p {
  font-size: 20px;
  font-weight: bold;
}

br + p {
  font-size: 24px;
  color: red;
  font-weight: bold;
}

.done {
  display: none;
}
  
p > span {
  color: red;
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  .container {
    width: 100%;
  }

  .header {
    width: 100%;
    padding: 32px 0 32px;
    margin: 16px auto 16px; 
  }
  input {
    outline: none;
    box-sizing: border-box;
    width: 80%;
    height: 32px;
    margin: 8px;
    display: inline-block;
    color: black;
    border-radius: 20px;
    text-align: center;
  }

  .list {
    width: 100%;
    margin: 0 auto;
  }

  ul {
    margin: 0;
    padding: 0px 16px 0;
  }

  li {
    margin-top: 16px;
  }

  button {
    background-color: black;
    color: white;
    display: inline-block;
    width: 50%;
    height: 32px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: all .3s;
  }
}